PyWavelets==0.5.2
opencv-python==3.4.3.18
seaborn==0.8.1
beautifulsoup4==4.10.0
bleach==4.1.0
certifi==2021.10.8
colorama==0.4.4
cycler==0.11.0
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.13
django-crispy-forms==1.14.0
django-heroku==0.3.1
entrypoints==0.4
fonttools==4.29.1
gunicorn==20.1.0
numpy
opencv-python==3.4.3.18
pandas==1.2.3

